
<div class="container mt-4">
    <h1>Editando a:</h1>
    <hr>
    
    <form >
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
        <button mat-button
                    mat-raised-button
                    color="accent">Editar</button>
    </form>
</div>