<mat-card>
    <mat-card-header>
        <mat-card-title>{{usuario.first_name}}</mat-card-title>
        <mat-card-subtitle>{{usuario.last_name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="usuario.avatar" alt="">
    <mat-card-content>
        <p>
            <strong>Email:</strong> {{usuario.email}}
        </p>
    </mat-card-content>
    <mat-card-actions class="d-grid">
        <button mat-button
                mat-raised-button
                color="accent"
                [routerLink]="['/usuarios/editar', usuario.id]">Editar</button>
    </mat-card-actions>
</mat-card>