
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button color="accent"
                    (click)="sidenav.toggle()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-toolbar>
        <app-editar></app-editar>
    </mat-sidenav>

    <mat-toolbar>
        <span class="spacer"></span>
        <div>
            <p>auth usuario</p>
        </div>
        <button mat-button color="accent">
            <mat-icon>face</mat-icon>
            <span>Logout</span>
        </button>
    </mat-toolbar>
    
    <div class="container">
        <h1>Listado de Usuarios</h1>
        <mat-divider></mat-divider>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-4" *ngFor="let usuario of usuarios">
                <app-usuario-tarjeta [usuario]="usuario" (click)="sidenav.toggle()"></app-usuario-tarjeta>
            </div>
        </div>
    </div>

</mat-sidenav-container>

