
<mat-sidenav-container fullscreen>

    <!-- !Sidenav -->
    <mat-sidenav #sidenav mode="push" [opened]="this.navService.toggleNav.value">
        <mat-toolbar>
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button color="accent"
                    (click)="sidenav.toggle()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-toolbar>
        <app-posts></app-posts>
    </mat-sidenav>

    <!-- !Navbar -->
    <mat-toolbar>
        <span class="spacer"></span>
        <div>
            <p>auth usuario</p>
        </div>
        <button mat-button color="accent">
            <mat-icon>face</mat-icon>
            <span>Logout</span>
        </button>
    </mat-toolbar>

    <!-- !Content -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

