<div class="container mt-4 animate__animated animate__fadeIn animate__slow">
    <h2>LISTADO DE USUARIOS</h2>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-4 mb-4" *ngFor="let usuario of usuarios">
            <app-usuario-tarjeta [usuario]="usuario"></app-usuario-tarjeta>
        </div>
    </div>
</div>

<div class="paginator">
    <button mat-raised-button color="primary" (click)="prevPage()">
        <span>Anterior</span>
    </button>
    <button mat-raised-button color="primary" (click)="nextPage()">
        <span>Siguiente</span>
    </button>
</div>

